@model FSGEMappingTool.Models.SetPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered">
                <tbody>
                    <tr>
                        <td>User Name:</td>
                        <td>
                            @Model.UserName
                            <input type="hidden" name="UserName" value="@Model.UserName" />
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.NewPassword)</td>
                        <td>@Html.PasswordFor(m => m.NewPassword)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                        <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                    </tr>
                   
                </tbody>
            </table>
            
            <div class="pull-right">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"></span>&nbsp;Save</button>
            </div>
            <div>
                <button type="submit" class="btn btn-default" onclick="window.history.back()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Cancel</button>
            </div>
        
        </div>

        <div class="col-md-4">
        
        </div>

    </div>
    
}
