@model IList<FSGEMappingTool.Models.Domain.Client>
@{
    ViewBag.Title = "FSG Maps Client List";
}


<h2>FSG Maps Client List</h2>
<div class="pull-right" style="margin-top:-40px; margin-bottom:10px;">
    <button type="submit" class="btn btn-success" onclick="window.location = '/client/create';"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add New Client</button>
</div>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <td>Client Id</td>
            <td>Display Name</td>
            <td>DB Table Name</td>
            <td colspan="5">Actions</td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.ActionLink(item.ClientId, "Details", new { id = item.ClientId }, null)</td>
        <td>@item.DisplayName</td>
        <td>@item.DBTableName</td>
        <td>@Html.ActionLink("Edit Client", "Edit", new { id = item.ClientId }, new {@class = "btn btn-xs btn-default"})</td>
        <td>@Html.ActionLink("Edit Dataset Config", "DatasetConfig", new { id = item.ClientId }, new { @class = "btn btn-xs btn-primary" })</td>
        <td>@Html.ActionLink("View Dataset", "Dataset", new { id = item.ClientId }, new { @class = "btn btn-xs btn-info" })</td>
        <td>@Html.ActionLink("View KPIs", "Kpis", new { id = item.ClientId }, new { @class = "btn btn-xs btn-info" })</td>
        <td>@Html.ActionLink("Preview Map", "Preview","Map", new { id = item.ClientId }, new { @class = "btn btn-xs btn-info" })</td>
    </tr>   
        
}        
    </tbody>
</table>



